
@{
    List<Event> events = Model;
}

<div class="event-area three text-center pt-150 pb-150">
    <div class="container">
        <div class="row">

            @foreach (var eventItem in events)
            {
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-event mb-60">
                        <div class="event-img">
                            <a href="event-details.html">
                                <img src="~/assets/img/event/@eventItem.ImageName" alt="event">
                                <div class="course-hover">
                                    <i class="fa fa-link"></i>
                                </div>
                            </a>
                            <div class="event-date">
                                <h3>@eventItem.StartTime.Day <span>@eventItem.StartTime.Month</span></h3>
                            </div>
                        </div>
                        <div class="event-content text-left">
                            <h4><a>@eventItem.Name</a></h4>
                            <ul>
                                <li><span>time:</span> @eventItem.StartTime.Hour - @eventItem.EndTime.Hour</li>
                                <li><span>venue</span> @eventItem.Venue</li>
                            </ul>
                            <div class="event-content-right">
                                <a class="default-btn" asp-controller="Events" asp-action="Details" asp-route-id="@eventItem.Id">join now</a>
                            </div>
                        </div>
                    </div>
                </div>
            }            
        </div>
    </div>
</div>
